#footer
  %p{:class => "copyright"}
    &copy;&nbsp;&nbsp;2009 All Rights Reserved &nbsp;&bull;&nbsp; Design by
    %a{:href => "#"} Free CSS Templates
  %p{:class => "link"}
    %a{:href => "#"} Privacy Policy
    &nbsp;&#8226;&nbsp;
    %a{:href => "#"} Terms of Use